<!DOCTYPE html>
<html>

<body>
    <body bgcolor="LightSkyBlue">

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
     
     
       <div>
        
         <li><a href="/Val"> Val </a></li>
     </ul> 
     
       </div>
       
</body>
</html>
